body, html {
    height: 100%;
    margin: 0;
    overflow: hidden; /* Prevent extra scroll bars on body and html */
    font-family: Arial, sans-serif;
}

/* Desktop specific styles */
.pdf-container {
    display: flex;
}

.pdf-container iframe {
    width: 100%; /* Use percentage to fit container */
    height: 100vh; /* Use full viewport height */
    border: none; /* Remove border */
}

/* Mobile/Tablet specific styles */
.pdf-container-mobile {
    width: 100%;
    max-width: 800px;
    height: calc(100vh - 60px); /* Full viewport height minus space for controls */
    overflow-y: auto; /* Enable scrolling within container */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pdf-container-mobile canvas {
    width: 100%;
    margin: 0;
    border: none;
}

/* Controls container */
.controls-mobile {
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 20px; /* Add margin around the controls */
    display: flex;
    justify-content: flex-end; /* Align items to the right */
    align-items: flex-end; /* Align items to the bottom */
    background: none;
}

/* Download button styles */
.controls-mobile button {
    padding: 12px 24px; /* Increased padding for a larger button */
    font-size: 16px; /* Font size to match increased button size */
    color: #fff;
    background: linear-gradient(45deg, #007bff, #0056b3); /* Gradient background */
    border: none;
    border-radius: 5px; /* Slightly smaller border-radius */
    cursor: pointer;
    transition: background 0.3s, box-shadow 0.3s, transform 0.3s;
    animation: pulsate 2s infinite;
    margin: 10px; /* Margin inside the button container */
}

/* Hover effect */
.controls-mobile button:hover {
    background: linear-gradient(45deg, #0056b3, #004085); /* Change gradient on hover */
    animation: pulsate 0.5s;
}

/* Active state */
.controls-mobile button:active {
    background: linear-gradient(45deg, #004085, #003766); /* Darker gradient on active */
}

/* Remove underline from the link */
.controls-mobile a {
    text-decoration: none;
}

/* Hidden class */
.hidden {
    display: none;
}

/* Pulsating animation */
@keyframes pulsate {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}
